<mk-box header="About Angular Loading Page" [isCollapsable]="false" [isRemovable]="false">
  <p>Angular Loading Page comes with an automatic structural directive "mkLoadingPage" for Route changes and Http requests. It add the inner elements if route change or http request start. When all is done, it remove the inner elements.</p>
  <p>It also comes with loadings animation components that can be placed within "mkLoadingPage" directive.</p>
  <p>You can only use components or directives.</p>
</mk-box>

<mk-box header="Download" [isCollapsable]="false" [isRemovable]="false">
  <p>Angular Loading Page is available at npm, if you have an existing application run the following command to download it to your project.</p>
  <pre><code class="language-bash">npm install angular-loading-page --save</code></pre>
  <p>Angular Loading Page is distributed in commonjs format, a module manager of your choice is required.</p>
</mk-box>

<mk-box header="Import" [isCollapsable]="false" [isRemovable]="false">
  <p>UI components are configured as modules, once Angular Loading Page is downloaded and configured, modules and apis can be imported from 'angular-loading-page' shorthand in your application code.</p>
  <pre><code class="language-typescript">import &#123; LoadingPageModule &#125; from 'angular-loading-page';         //Loading directive
import &#123; MaterialBarModule &#125; from 'angular-loading-page';         //Loading animation component</code></pre>
</mk-box>

<mk-box header="Usage" [isCollapsable]="false" [isRemovable]="false">
  <pre><code class="language-html">&lt;div *mkLoadingPage [checkPendingRoute]="true" [checkPendingHttp]="true"&gt;
  &lt;mk-material-bar colorOne=&quot;#dd4b39&quot; colorTwo=&quot;#00a65a&quot; colorThree=&quot;#f39c12&quot;&gt;&lt;/mk-material-bar&gt;
&lt;/div&gt;</code></pre>
</mk-box>
