<lte-box [solid]="true" [collapsable]="false" [removable]="false">
  <p>
    This is an component loaded asychronously to test the loader router interceptor of the structural directive "ngLoading".<br/>
  </p>
  <p>
    You can disable this feature like this:
  </p>

  <pre><code class="language-html">&lt;div *mkLoadingPage=&quot;&#123;checkPendingHttp: true, checkPendingRoute: true&#125;&quot;&gt;
  &lt;mk-material-bar colorOne=&quot;#dd4b39&quot; colorTwo=&quot;#00a65a&quot; colorThree=&quot;#f39c12&quot;&gt;&lt;/mk-material-bar&gt;
&lt;/div&gt;</code></pre>
</lte-box>
